
<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="//shop.vipstatic.com">
    <link rel="dns-prefetch" href="//a.vpimg2.com">
    <link rel="dns-prefetch" href="//a.vpimg3.com">
    <link rel="dns-prefetch" href="//a.vpimg4.com">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>æç´¢ç»æ_å¯åä¼</title>
    <meta name="keywords" content="æç´¢ç»æé¡µé¢ï¼å¯åä¼" />
    <meta name="description" content="æç´¢ç»æé¡µé¢ï¼å¯åä¼" />
    <meta name="baidu-site-verification" content="rnyMiv2JC1" />
    <meta name="mars_root" content="11">
    <link href="//shop.vipstatic.com/css/public/shop/common-hash-1c381738.css" rel="stylesheet" type="text/css" />
    <link href="//shop.vipstatic.com/css/public/category/1/search_list-hash-b17c0b10.css" rel="stylesheet" type="text/css" />
    <script src="//shop.vipstatic.com/js/public/jquery-1.10.2-hash-33c5c148.js" type="text/javascript"></script>
    <script src="//shop.vipstatic.com/js/public/core3.1.0-hash-1e3bb8ea.js" crossorigin="anonymous" type="text/javascript"></script>
</head>
<body>
    

<script type="text/javascript">
    //99clickç»è®¡æéåé
    var _oztime = (new Date()).getTime();
    window.openhk=1;

</script>
        <script type="text/javascript" src="//common.vip.com/?type=header&jq=0&core=0&h_urls=category.vip.com&from=category&relevace_time=1&v=132&isAdapt=1"></script>
    <div class="c-category-search-container">
    <div class="g-row  c-category-search-wrapper"></div>
</div>

<div class="g-row">
    
<div class="c-breadcrumbs  J-breadcrumbs">

</div>

<div class="c-filter  J-filter">
    <div class="c-filter-groups">
        <div id="J_vipservice_filter"></div>
        <div id="J_brand_sn_filter"></div>
        <div id="J_category_tree_filter"></div>
        <div id="J_props_filter"></div>
    </div>

    <div class="c-filter-commands J_more_choose hidden">
        <button class="c-filter-button-expand  J-filter-button-expand"
            type="button" mars_sead="classify_showmoret_click">
            <span class="c-filter-button-text">æ´å¤éé¡¹</span><span class="vipFont  c-filter-button-glyphicon">&#xe616;</span>
        </button>
        <button class="c-filter-button-collapse  J-filter-button-collapse" type="button">
            <span class="c-filter-button-text">ç¹å»æ¶èµ·</span><span class="vipFont  c-filter-button-glyphicon">&#xe615;</span>
        </button>
    </div>
</div>

<div class="c-sortbar" id = "J_sortbar">
    

</div>

<section class="goods-list" id="J_searchCatList">
    <div class="c-goods-list-loader  J-goods-list-loader">
        <span class="ii-loading-pink-32x32"></span>
    </div>
</section>
        
<!-- åé¡µ é¢å®å¾æ¨¡åä¸­ä½¿ç¨-->
<div class="m-cat-paging cat-paging-all f-clearfix" id="J_pagingCt">
    
</div>
<!-- åé¡µ end -->


<div class="m-cat-recom"><!-- æ­¤å¤ä¸ºæ¨èæ¨¡åï¼æ°æ®æ¨é --></div>
</div>
<script type="text/javascript" src="//common.vip.com/?type=footer&jq=0&core=0&v=132"></script>
    

<script type="text/html" id="J-selector-img">
    {#items}
    <a class="multi-option-item J-multi-option-item" href="{$url}" data-id="{$id}">
        <img class="{$hidden}" width="70" height="35"
             alt="{$name}" src="{$brand_store_logo}">
        <i class="oper-fav-inf {$show}">{$name}</i>
    </a>
    {#/items}
</script>

<script type="text/html" id="J_Merchandise_408_tmp">
    <div class="s-noresult-box">
        <div class="s-noresult-inner">
            <i class="i-question"></i>
            <p class="noresult-tips">
                ç³»ç»å¼å°å·®äºï¼è¯·éæ°æç´¢ä¸ä¸å§ã
            </p>
        </div>
        <a class="ui-btn-large ui-btn-primary return-cat-btn J_refresh" role="button" href="javascript:location.reload();">éè¯</a>
    </div>
</script>
<script type="text/html" id="J_Merchandise_nodata_tmp">
    <div class="s-noresult-box">
        <div class="s-noresult-inner">
            <i class="i-question"></i>
            <p class="noresult-tips">
                æ²¡ææ¾å°ç¬¦åæ¡ä»¶çåå
            </p>
        </div>
    </div>
</script>


<script type="text/html" id="J_search_list_brandLogo_tmp">
    {#items}
    <li class="c-filter-data-item {$logoHidden} J-filter-data-item"
        data-id="{$id}"
        data-is-selected="0">
        <a class="c-filter-brand-link  J-filter-data-link"
            href="{$url}">
            <div class="c-select"></div>
            <img class="c-filter-brand-img  J-filter-brand-img lazy"
                src="{$logo}"
                alt="{$name}"
                width="80" height="40">
            <div class="c-filter-brand-title">
                {$name}
            </div>
        </a>
    </li>
    {#/items}
</script>
<script type="text/html" id="J-search-merchandise-list-template">
    {#items}
    <li class="s-result-basic-item">
        <a href="{$detail_url}" target="_blank" rel="noopener"
           class="s-result-basic-link" mars_sead="{$mars_sead}">
            <img src="//shop.vipstatic.com/img/category/loading_178x225-hash-b93d3fc9.jpg" data-original="{$list_img}" class="s-result-goods-pic lazy" alt="{$name}">
        </a>
        <span class="s-result-price">{$price}</span><del class="s-result-mprice">{$marketPrice}</del>
    </li>
    {#/items}
</script>

<script type="text/html" id="J-search-list-template">
    {#isSimilar}
        <div class="search-tips-box">
            <p class="search-tips">
                æ¨æ³æ¾çæ¯ä¸æ¯ï¼<span class="s-keyword">{$similarWord}</span><br>
                <span class="search-recom">ä»¥ä¸æ¯ä¸ºæ¨æ¨èçåå®¹</span>
            </p>
        </div>
    {#/isSimilar}
    <div class="search-result-scroll">
        {#isCategory}
            <div class="search-result-basic search-result-sort">
                <h4 class="search-basic-title">{$group_title}</h4>
                <div class="search-content-box">
                    {#items}
                    <a class="search-item J-search-item" mars_sead="search_field_1" href="{$url}" title="{$title}">{$name}</a>
                    {#/items}
                </div>
            </div>
        {#/isCategory}
        {#isFlagShip}
            <div class="search-result-basic search-result-shop">
                <h4 class="search-basic-title">{$group_title}</h4>
                <div class="search-content-box">
                    {#items}
                    <a class="search-shop-item J-search-item" href="{$url}" title="{$title}" mars_sead="search_field_2">
                        <div class="search-shop-img">
                            <img src="//shop.vipstatic.com/img/category/loading_100x50-hash-4a94945e.jpg" data-original="{$brand_store_logo}" class="search-shop-logo lazy" width="100" height="50" alt="">
                        </div>
                        <p class="search-shop-name">{$brand_name}</p>
                    </a>
                    {#/items}
                </div>
            </div>
        {#/isFlagShip}
        {#isBrand}
            <div class="search-result-basic search-result-onsale">
                <h4 class="search-basic-title">{$group_title}</h4>
                <div class="search-content-box">
                    {#items}
                    <a class="search-item J-search-item" mars_sead="search_field_3" href="{$url}" title="{$title}">{$brand_name}</a>
                    {#/items}
                </div>
            </div>
        {#/isBrand}
        {#isComming}
            <div class="search-result-basic search-result-onsale">
                <h4 class="search-basic-title">{$group_title}</h4>
                <div class="search-content-box">
                    {#items}
                    <a class="search-item J-search-item" href="{$url}" mars_sead="search_field_4" title="{$title}">{$brand_name}</a>
                    {#/items}
                </div>
            </div>
        {#/isComming}
        {#isNotOnSale}
            <div class="search-result-basic">
                <h4 class="search-basic-title">ææªå¼å®</h4>
                <div class="search-content-box">
                    {#items}
                    <a class="search-shop-item J-search-item" href="javascript:void(0)" title="{$title}">
                        <div class="search-shop-img">
                            <img src="//shop.vipstatic.com/img/category/loading_100x50-hash-4a94945e.jpg" data-original="{$brand_store_logo}" class="search-shop-logo lazy" alt="{$title}">
                        </div>
                        <p class="search-shop-name">{$brand_store_name}</p>
                    </a>
                    {#/items}
                </div>
            </div>
        {#/isNotOnSale}
        {#isBrandStore}
            <div class="search-tips-box">
                <p class="search-tips">
                    ééå¶ä»è·<span class="s-keyword">{$keyword}</span>ç¸ä¼¼çåçä¸åºå§
                </p>
            </div>
            {#isFlagShip}
            <div class="search-result-basic search-result-shop">
                <h4 class="search-basic-title">{$group_title}</h4>
                <div class="search-content-box">
                    {#items}
                    <a class="search-shop-item J-search-item" href="{$url}" title="{$title}" mars_sead="search_field_2">
                        <div class="search-shop-img">
                            <img src="//shop.vipstatic.com/img/category/loading_100x50-hash-4a94945e.jpg" data-original="{$brand_store_logo}" class="search-shop-logo lazy" alt="{$title}">
                        </div>
                        <p class="search-shop-name">{$brand_name}</p>
                    </a>
                    {#/items}
                </div>
            </div>
            {#/isFlagShip}
            {#isBrand}
            <div class="search-result-basic search-result-onsale">
                <h4 class="search-basic-title">{$group_title}</h4>
                <div class="search-content-box">
                    {#items}
                    <a class="search-item J-search-item" href="{$url}" title="{$title}" mars_sead="search_field_3">{$brand_name}</a>
                    {#/items}
                </div>
            </div>
            {#/isBrand}
            {#isComming}
            <div class="search-result-basic search-result-onsale">
                <h4 class="search-basic-title">{$group_title}</h4>
                <div class="search-content-box">
                    {#items}
                    <a class="search-item J-search-item" href="{$url}" title="{$title}" mars_sead="search_field_4">{$brand_name}</a>
                    {#/items}
                </div>
            </div>
            {#/isComming}
        {#/isBrandStore}
    </div>
</script>

<script type="text/html" id="J-search-history-template">
{#history_word}
    <a class="search-history-keywords" href="javascript:void(0)" title="{$value}" mars_sead="cat_search_keyword" title="">{$value}</a>
{#/history_word}
</script>

<script type="text/html" id="J_category_floor">
        {{each data as cateItem}}
    {{if cateItem.feKey == 'marketing'}}
        <div class="c-banner-marketing c-floor-goods-group  f-hide  J-floor-goods-group-marketing"
         id="c-floor-goods-anchor-marketing"></div>
    {{else}}
    <div class="c-floor-goods-group  {{if cateItem.feKey}}c-floor-goods-group-{{cateItem.feKey}}{{/if}} J-floor-goods-group"
         id="c-floor-goods-anchor-{{cateItem.feKey}}" data-cate-id="{{cateItem.cateId}}">
        <h2 class="c-floor-goods-title">{{cateItem.categoryTitle}}</h2>
        <div class="c-floor-goods-content" id="J_floor_content_{{cateItem.feKey}}" style="height:{{cateItem.contentHeight}}px">
                        {{if cateItem.cateName == 'global'}}
            <div class="J-cms-global-globalCategory-pc"></div>
            {{/if}}
            
            <div class="c-floor-goods-right">
                                <div class="c-hot-brand  f-hide  J-hot-brand  J-hot-brand-{{cateItem.cateId}}"></div>

                                <div class="c-banner-floor  f-hide  J-banner-floor  J-banner-floor-{{cateItem.cateName}}"></div>
            </div>
            <div class="J_cate_floor_inner" id="J_floor_inner_{{cateItem.feKey}}"></div>
        </div>
    </div>
    {{/if}}
    {{/each}}
</script>

<script type="text/html" id="J_category_content_tmpl">
    <div class="c-floor-goods-left">
        {{each data as subItem}}
        <div class="c-category-goods clearfix">
            <div class="c-category-goods-cover">
                    <img src="{{(subItem.image!='')?subItem.image:'//shop.vipstatic.com/img/category/placeholder-hash-1e02786b.jpg'}}"
                         width="70" height="80"
                         alt="{{subItem.categoryTitle}}">
            </div>
            <div class="c-category-goods-info">
                <h3 class="c-category-goods-title">
                    {{subItem.categoryTitle}}
                </h3>
                <ul class="c-category-goods-list">
                    {{each subItem.children as children}}
                    <li class="c-category-goods-item">
                        <a href="{{children.url}}" target="_blank" rel="noopener"
                           class="c-category-goods-link">
                            {{children.categoryTitle}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        {{/each}}
    </div>
</script>

<script type="text/html" id="J_category_floor_nav_tmpl">
        {{if data[0].feCSSColor !== ''}}
    <style>
        .is-floor-goods-nav-item-active .c-floor-goods-nav-link-marketing,
        .is-floor-goods-nav-item-active .c-floor-goods-nav-link-marketing:active,
        .is-floor-goods-nav-item-active .c-floor-goods-nav-link-marketing:hover {
            background-color: {{data[0].feCSSColor}};
        }
        @media screen and (min-width: 1441px) {
            .c-floor-goods-nav-link-marketing:active,
            .c-floor-goods-nav-link-marketing:hover {
                color: {{data[0].feCSSColor}}
            }
        }
    </style>
    {{/if}}
    <ul class="c-floor-goods-nav-list  has-floor-goods-nav-item-{{data.length}}">
        {{each data as item}}
            <li class="c-floor-goods-nav-item  J-floor-goods-nav-item">
                <a class="c-floor-goods-nav-link  c-floor-goods-nav-link-{{item.cateName}}  J-floor-goods-nav-link"
                   href="#c-floor-goods-anchor-{{item.feKey}}">{{item.categoryTitle}}</a>
            </li>
        {{/each}}
    </ul>
</script>
    <script>
        var page = 1;
        var total = 0;
        var count = 0;
        var type = ""; //å½åç±»å:åç±»\ä¸åº

        var fe_firstSelector  = "" ;
        var fe_secondSelector  = "";

        var fe_brandList = "" ;

        var VIPCATEGORY = (function(obj){
            //s2åjsæä»¶è·¯å¾åç¼ VIPCATEGORY.Brand ç¨å°
            obj.s2JsPf = "//shop.vipstatic.com/js/public";
            return obj;
        })(VIPCATEGORY || {});
        VIPCATEGORY.isUseWebp = 0;
        $.Var.set('cxoArr', []);
        
        $.Var.set('suggestMerchandiseList', []);
        $.Var.set('specialPriceSwitch', 1);
        $.Loader
            .advScript(
            {
                name : 'category-search',
                isCrossOrigin:1,
                url : '//shop.vipstatic.com/js/public/category/suggest-hash-9a6c6276.js'
            },{
                name : 'sidebar',
                url : '//common.vip.com/?type=sidebar&jq=0&core=0&v=132'
            });

        $.Listeners.sub('ready.third').onsuccess(function () {
            $.Loader.advScript({
                name : 'inf',
                isCrossOrigin:1,
                url : '//shop.vipstatic.com/js/public/te/1/inf-hash-9b303835.js'
            });
        });
    </script>


</body>
</html>
